swagger: "2.0"
info:
  description: "douyin open api"
  version: 1.0.0
  title: 抖音开放API
  license:
    name: Apache-2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0.html"
host: open.douyin.com
basePath: /
tags:
  - name: oauth
    description: oauth
schemes:
  - https
paths:
  /platform/oauth/connect:
    get:
      tags:
        - oauth
      summary: 抖音获取授权码(code)
      description: 抖音获取授权码(code)
      operationId: connect
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: client_key
          type: string
          description: 应用唯一标识
          required: true
        - in: query
          name: response_type
          type: string
          description: 填写code
          required: true
        - in: query
          name: scope
          type: string
          description: 应用授权作用域,多个授权作用域以英文逗号（,）分隔
          required: true
        - in: query
          name: optionalScope
          type: string
          description: 应用授权可选作用域,多个授权作用域以英文逗号（,）分隔，每一个授权作用域后需要加上一个是否默认勾选的参数，1为默认勾选，0为默认不勾选
          required: false
        - in: query
          name: redirect_uri
          type: string
          description: 授权成功后的回调地址，必须以http/https开头。域名必须对应申请应用时填写的域名，如不清楚请联系应用申请人。
          required: true
        - in: query
          name: state
          type: string
          description: 用于保持请求和回调的状态
          required: false
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/ConnectRsp"
  /oauth/authorize:
    get:
      tags:
        - oauth
      summary: 头条获取授权码(code)
      description: 头条获取授权码(code)
      operationId: authorize
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: client_key
          type: string
          description: 应用唯一标识
          required: true
        - in: query
          name: response_type
          type: string
          description: 填写code
          required: true
        - in: query
          name: scope
          type: string
          description: 应用授权作用域,多个授权作用域以英文逗号（,）分隔
          required: true
        - in: query
          name: redirect_uri
          type: string
          description: 授权成功后的回调地址，必须以http/https开头。域名必须对应申请应用时填写的域名，如不清楚请联系应用申请人。
          required: true
        - in: query
          name: state
          type: string
          description: 用于保持请求和回调的状态
          required: false
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/AuthorizeRsp"
  /oauth/access_token:
    get:
      tags:
        - oauth
      summary: 获取access_token
      description: 获取access_token
      operationId: access_token
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: client_key
          type: string
          description: 应用唯一标识
          required: true
        - in: query
          name: client_secret
          type: string
          description: 应用唯一标识对应的密钥
          required: true
        - in: query
          name: code
          type: string
          description: 授权码
          required: true
        - in: query
          name: grant_type
          type: string
          description: 写死"authorization_code"即可
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/AccessTokenRsp"
  /oauth/renew_refresh_token:
    get:
      tags:
        - oauth
      summary: 刷新refresh_token
      description: 刷新refresh_token
      operationId: renew_refresh_token
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: client_key
          type: string
          description: 应用唯一标识
          required: true
        - in: query
          name: refresh_token
          type: string
          description: 填写通过access_token获取到的refresh_token参数
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/RenewRefreshTokenRsp"
  /oauth/client_token:
    get:
      tags:
        - oauth
      summary: 生成client_token
      description: 生成client_token
      operationId: client_token
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: client_key
          type: string
          description: 应用唯一标识
          required: true
        - in: query
          name: client_secret
          type: string
          description: 应用唯一标识对应的密钥
          required: true
        - in: query
          name: grant_type
          type: string
          description: 传client_credential
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/ClientTokenRsp"
  /oauth/refresh_token:
    get:
      tags:
        - oauth
      summary: 刷新access_token
      description: 刷新access_token
      operationId: refresh_token
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: client_key
          type: string
          description: 应用唯一标识
          required: true
        - in: query
          name: refresh_token
          type: string
          description: 填写通过access_token获取到的refresh_token参数
          required: true
        - in: query
          name: grant_type
          type: string
          description: 填refresh_token
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/RefreshTokenRsp"
  /oauth/authorize/v2:
    get:
      tags:
        - oauth
      summary: 抖音静默获取授权码(code)
      description: 抖音静默获取授权码(code)
      operationId: authorizeV2
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: client_key
          type: string
          description: 应用唯一标识
          required: true
        - in: query
          name: response_type
          type: string
          description: 填写code
          required: true
        - in: query
          name: scope
          type: string
          description: 填login_id
          required: true
        - in: query
          name: redirect_uri
          type: string
          description: 授权成功后的回调地址，必须以http/https开头。域名要跟申请应用时填写的授权回调域一致。用于调用https://open.douyin.com/oauth/access_token/换token。
          required: true
        - in: query
          name: state
          type: string
          description: 用于保持请求和回调状态，授权请求后会原样返回给接入方,如果是App则不用传该参数
          required: false
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/AuthorizeV2Rsp"
  /oauth/userinfo:
    get:
      tags:
        - userinfo
      summary: 获取用户信息
      description: 获取用户信息
      operationId: userinfo
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/UserinfoRsp"
  /fans/list:
    get:
      tags:
        - userinfo
      summary: 获取粉丝列表
      description: 获取粉丝列表
      operationId: fans_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。。
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量。
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/FansListRsp"
  /following/list:
    get:
      tags:
        - userinfo
      summary: 获取关注列表
      description: 获取关注列表
      operationId: following_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。。
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量。
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/FollowingListRsp"
  /video/upload:
    post:
      tags:
        - video
      summary: 抖音上传视频到文件服务器
      description: 抖音上传视频到文件服务器
      operationId: douyin_video_upload
      consumes:
        - multipart/form-data
      produces:
        - multipart/form-data
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: formData
          name: video
          required: true
          type: file
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DouyinVideoUploadRsp"
  /video/part/init:
    post:
      tags:
        - video
      summary: 抖音分片初始化上传
      description: 抖音分片初始化上传
      operationId: douyin_video_part_init
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DouyinVideoPartInitRsp"
  /video/part/upload:
    post:
      tags:
        - video
      summary: 上传视频分片到文件服务器
      description: 上传视频分片到文件服务器
      operationId: douyin_video_part_upload
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: upload_id
          type: string
          description: 分片上传的标记。有限时间为2小时
          required: true
        - in: query
          name: part_number
          type: integer
          format: int64
          description: 第几个分片，从1开始
          required: true
        - in: formData
          name: video
          required: true
          type: ByteArray
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DouyinVideoPartUploadRsp"
  /video/part/complete:
    post:
      tags:
        - video
      summary: 视频分片完成上传
      description: 视频分片完成上传
      operationId: douyin_video_part_complete
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: upload_id
          type: string
          description: 分片上传的标记。有限时间为2小时
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DouyinVideoPartCompleteRsp"
  /video/create:
    post:
      tags:
        - video
      summary: 创建抖音视频
      description: 创建抖音视频
      operationId: douyin_video_create
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/DouyinVideoCreateReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DouyinVideoCreateRsp"
  /image/upload:
    post:
      tags:
        - image
      summary: 上传图片到文件服务器
      description: 上传图片到文件服务器
      operationId: douyin_image_upload
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: formData
          name: image
          type: file
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DouyinImageUploadRsp"
  /image/create:
    post:
      tags:
        - image
      summary: 发布图片
      description: 发布图片
      operationId: douyin_image_create
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              micro_app_url:
                type: string
                description: 吊起小程序时的参数
              poi_id:
                type: string
                description: 地理位置id
              poi_name:
                type: string
                description: 地理位置名称
              text:
                type: string
                description: 标题，可以带话题。 如title1#话题1 #话题2 注意：话题审核依旧遵循抖音的审核逻辑，强烈建议第三方谨慎拟定话题名称，避免强导流行为。
              image_id:
                type: string
                description: 通过/image/upload/接口得到
              micro_app_id:
                type: string
                description: 小程序id
              micro_app_title:
                type: string
                description: 小程序标题
              at_users:
                type: array
                description: 如果需要at其他用户。将text中@nickname对应的open_id放到这里。
                items:
                  type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DouyinImageCreateRsp"
  /video/delete:
    post:
      tags:
        - video
      summary: 删除授权用户发布的视频
      description: 删除授权用户发布的视频
      operationId: douyin_video_delete
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              item_id:
                type: string
                description: 抖音视频id
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DouyinVideoDeleteRsp"
  /video/list:
    get:
      tags:
        - video
      summary: 查询授权账号视频数据
      description: 查询授权账号视频数据
      operationId: douyin_video_list
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DouyinVideoListRsp"
  /video/data:
    post:
      tags:
        - video
      summary: 查询指定视频数据
      description: 查询指定视频数据
      operationId: douyin_video_data
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              item_ids:
                type: array
                items:
                  type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DouyinVideoData"
  /share-id/:
    get:
      tags:
        - video
      summary: 获取share-id
      description: 获取share-id
      operationId: douyin_video_share_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/client_token/生成的token，此token不需要用户授权。
          required: true
        - in: query
          name: need_callback
          type: boolean
          description: 如果需要知道视频分享成功的结果，need_callback设置为true
          required: true
        - in: query
          name: source_style_id
          type: string
          description: 多来源样式id（暂未开放）。
          required: false
        - in: query
          name: default_hashtag
          type: string
          description: 追踪分享默认hashtag
          required: false
        - in: query
          name: link_param
          type: string
          description: 分享来源url附加参数（暂未开放）。
          required: false
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DouyinVideoShareIdRsp"
  /poi/search/keyword:
    get:
      tags:
        - video
      summary: 查询POI信息
      description: 查询POI信息
      operationId: douyin_video_position_search
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/client_token/生成的token，此token不需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量。
          required: true
        - in: query
          name: keyword
          type: string
          description: 查询关键字，例如美食
          required: true
        - in: query
          name: city
          type: string
          description: 查询城市，例如上海、北京。
          required: false
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DouyinVideoPositionSearchRsp"
  /toutiao/video/upload:
    post:
      tags:
        - video
      summary: 头条上传视频到文件服务器
      description: 头条上传视频到文件服务器
      operationId: toutiao_video_upload
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: formData
          name: video
          type: file
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/ToutiaoVideoUploadRsp"
  /toutiao/video/create:
    post:
      tags:
        - video
      summary: 创建头条视频
      description: 创建头条视频
      operationId: toutiao_video_create
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/DouyinVideoCreateReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/TouTiaoVideoCreateRsp"
  /toutiao/video/part/init:
    post:
      tags:
        - video
      summary: 头条分片初始化上传
      description: 头条分片初始化上传
      operationId: toutiao_video_part_init
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/TouTiaoVideoPartInitRsp"
  /toutiao/video/part/upload:
    post:
      tags:
        - video
      summary: 上传视频分片到文件服务器
      description: 上传视频分片到文件服务器
      operationId: toutiao_video_part_upload
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: upload_id
          type: string
          description: 分片上传的标记。有限时间为2小时
          required: true
        - in: query
          name: part_number
          type: integer
          format: int64
          description: 第几个分片，从1开始
          required: true
        - in: formData
          name: video
          type: file
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/TouTiaoVideoPartUploadRsp"
  /toutiao/video/part/complete/:
    post:
      tags:
        - video
      summary: 头条视频分片完成上传
      description: 头条视频分片完成上传
      operationId: toutiao_video_part_complete
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: upload_id
          type: string
          description: 分片上传的标记。有限时间为2小时
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/TouTiaoVideoPartCompleteRsp"
  /toutiao/video/list:
    get:
      tags:
        - video
      summary: 查询授权账号视频数据
      description: 查询授权账号视频数据
      operationId: toutiao_video_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/TouTiaoVideoListRsp"
  /toutiao/video/data:
    post:
      tags:
        - video
      summary: 查询头条指定视频数据
      description: 查询头条指定视频数据
      operationId: toutiao_video_data
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          schema:
            type: object
            properties:
              item_ids:
                type: array
                items:
                  type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/TouTiaoVideoData"
  /xigua/video/upload:
    post:
      tags:
        - video
      summary: 西瓜上传视频到文件服务器
      description: 西瓜上传视频到文件服务器
      operationId: xigua_video_upload
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          schema:
            properties:
              video:
                type: array
                items:
                  type: string
                  format: byte
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/XiGuaVideoUploadRsp"
  /xigua/video/part/init:
    post:
      tags:
        - video
      summary: 西瓜分片初始化上传
      description: 西瓜分片初始化上传
      operationId: xigua_video_part_init
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/XiGuaVideoPartInitRsp"
  /xigua/video/part/upload:
    post:
      tags:
        - video
      summary: 上传视频分片到文件服务器
      description: 上传视频分片到文件服务器
      operationId: xigua_video_part_upload
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: upload_id
          type: string
          description: 分片上传的标记。有限时间为2小时
          required: true
        - in: query
          name: part_number
          type: integer
          format: int64
          description: 第几个分片，从1开始
          required: true
        - in: body
          name: body
          schema:
            properties:
              video:
                type: array
                items:
                  type: string
                  format: byte
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/XiGuaVideoPartUploadRsp"
  /xigua/video/part/complete:
    post:
      tags:
        - video
      summary: 视频分片完成上传
      description: 视频分片完成上传
      operationId: xigua_video_part_complete
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: upload_id
          type: string
          description: 分片上传的标记。有限时间为2小时
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/XiGuaVideoPartCompleteRsp"
  /xigua/video/create:
    post:
      tags:
        - video
      summary: 创建西瓜视频
      description: 创建西瓜视频
      operationId: xigua_video_create
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          schema:
            $ref: "#/definitions/XiGuaVideoCreateReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/XiGuaVideoCreateRsp"
  /xigua/video/list:
    get:
      tags:
        - video
      summary: 西瓜查询授权账号视频数据
      description: 西瓜查询授权账号视频数据
      operationId: xigua_video_list
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/XiGuaVideoListRsp"
  /xigua/video/data:
    post:
      tags:
        - video
      summary: 西瓜查询指定视频数据
      description: 西瓜ig查询指定视频数据
      operationId: xigua_video_data
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          schema:
            type: object
            properties:
              item_ids:
                type: array
                items:
                  type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/XiGuaVideoData"
  /item/comment/list:
    get:
      tags:
        - comment
      summary: 评论列表
      description: 评论列表
      operationId: item_comment_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
        - in: query
          name: item_id
          type: string
          description: 视频id
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/ItemCommentListRsp"
  /item/comment/reply/list:
    get:
      tags:
        - comment
      summary: 评论回复列表
      description: 评论回复列表
      operationId: item_comment_reply_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
        - in: query
          name: item_id
          type: string
          description: 视频id
          required: true
        - in: query
          name: comment_id
          type: string
          description: 评论id
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/ItemCommentReplyListRsp"
  /item/comment/reply:
    post:
      tags:
        - comment
      summary: 评论回复列表
      description: 评论回复列表
      operationId: item_comment_reply
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/ItemCommentReplyReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/ItemCommentReplyRsp"
  /video/comment/list:
    get:
      tags:
        - comment
      summary: 评论列表
      description: 评论列表
      operationId: video_comment_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
        - in: query
          name: item_id
          type: string
          description: 视频id
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VideoCommentListRsp"
  /video/comment/reply/list:
    get:
      tags:
        - comment
      summary: 评论列表
      description: 评论列表
      operationId: video_comment_reply_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
        - in: query
          name: item_id
          type: string
          description: 视频id
          required: true
        - in: query
          name: comment_id
          type: string
          description: 评论id
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VideoCommentReplyListRsp"
  /video/comment/reply:
    post:
      tags:
        - comment
      summary: (企业号)回复视频评论
      description: (企业号)回复视频评论
      operationId: video_comment_reply
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/VideoCommentReplyReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VideoCommentReplyRsp"
  /video/comment/top:
    post:
      tags:
        - comment
      summary: (企业号)置顶视频评论
      description: (企业号)置顶视频评论
      operationId: video_comment_top
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/VideoCommentTopReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VideoCommentTopRsp"
  /enterprise/im/message/send:
    post:
      tags:
        - im
      summary: (企业号)发送私信给用户
      description: (企业号)发送私信给用户
      operationId: enterprise_im_message_send
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/EnterpriseImMessageSendReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseImMessageSendRsp"
  /video/search:
    get:
      tags:
        - video_search
      summary: 关键词视频搜索
      description: 关键词视频搜索
      operationId: video_search
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量。
          required: true
        - in: query
          name: keyword
          type: string
          description: 关键词
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VideoSearchRsp"
  /video/search/comment/list:
    get:
      tags:
        - video_search
      summary: 关键词视频评论列表
      description: 关键词视频评论列表
      operationId: video_search_comment_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: sec_item_id
          type: string
          description: 视频搜索接口返回的加密的视频id
          required: true
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量。
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VideoSearchCommentListRsp"
  /video/search/comment/reply:
    post:
      tags:
        - video_search
      summary: 关键词视频评论回复
      description: 关键词视频评论回复
      operationId: video_search_comment_reply
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志。
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/VideoSearchCommentReplyReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VideoSearchCommentReplyRsp"
  /video/search/comment/reply/list:
    get:
      tags:
        - video_search
      summary: 评论回复列表
      description: 评论回复列表
      operationId: video_search_comment_reply_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
        - in: query
          name: sec_item_id
          type: string
          description: 视频搜索接口返回的加密的视频id
          required: true
        - in: query
          name: comment_id
          type: string
          description: 评论id
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VideoSearchCommentReplyListRsp"
  /data/external/user/item:
    get:
      tags:
        - data
      summary: 获取用户视频情况
      description: 获取用户视频情况
      operationId: data_external_user_item
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: date_type
          type: integer
          format: int64
          description: 近7/15天；输入7代表7天、15代表15天、30代表30天
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DataExternalUserItemRsp"
  /data/external/user/fans:
    get:
      tags:
        - data
      summary: 获取用户粉丝数
      description: 获取用户粉丝数
      operationId: data_external_user_fans
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: date_type
          type: integer
          format: int64
          description: 近7/15天；输入7代表7天、15代表15天、30代表30天
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DataExternalUserFansRsp"
  /data/external/user/like:
    get:
      tags:
        - data
      summary: 获取用户点赞数
      description: 获取用户点赞数
      operationId: data_external_user_like
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: date_type
          type: integer
          format: int64
          description: 近7/15天；输入7代表7天、15代表15天、30代表30天
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DataExternalUserLikeRsp"
  /data/external/user/comment:
    get:
      tags:
        - data
      summary: 获取用户评论数
      description: 获取用户评论数
      operationId: data_external_user_comment
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: date_type
          type: integer
          format: int64
          description: 近7/15天；输入7代表7天、15代表15天、30代表30天
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DataExternalUserCommentRsp"
  /data/external/user/share:
    get:
      tags:
        - data
      summary: 获取用户分享数
      description: 获取用户分享数
      operationId: data_external_user_share
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: date_type
          type: integer
          format: int64
          description: 近7/15天；输入7代表7天、15代表15天、30代表30天
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DataExternalUserShareRsp"
  /data/external/user/profile:
    get:
      tags:
        - data
      summary: 获取用户主页访问数
      description: 获取用户主页访问数
      operationId: data_external_user_profile
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: date_type
          type: integer
          format: int64
          description: 近7/15天；输入7代表7天、15代表15天、30代表30天
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DataExternalUserProfileRsp"
  /data/external/item/base:
    get:
      tags:
        - data
      summary: 获取视频基础数据
      description: 获取视频基础数据
      operationId: data_external_item_base
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: item_id
          type: string
          description: item_id，仅能查询access_token对应用户上传的视频
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DataExternalItemBaseRsp"
  /data/external/item/like:
    get:
      tags:
        - data
      summary: 获取视频点赞数据
      description: 获取视频点赞数据
      operationId: data_external_item_like
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: item_id
          type: string
          description: item_id，仅能查询access_token对应用户上传的视频
          required: true
        - in: query
          name: date_type
          type: integer
          format: int64
          description: 近7/15天；输入7代表7天、15代表15天
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DataExternalItemLikeRsp"
  /data/external/item/comment:
    get:
      tags:
        - data
      summary: 获取视频评论数据
      description: 获取视频评论数据
      operationId: data_external_item_comment
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: item_id
          type: string
          description: item_id，仅能查询access_token对应用户上传的视频
          required: true
        - in: query
          name: date_type
          type: integer
          format: int64
          description: 近7/15天；输入7代表7天、15代表15天
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DataExternalItemCommentRsp"
  /data/external/item/play:
    get:
      tags:
        - data
      summary: 获取视频播放数据
      description: 获取视频播放数据
      operationId: data_external_item_play
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: item_id
          type: string
          description: item_id，仅能查询access_token对应用户上传的视频
          required: true
        - in: query
          name: date_type
          type: integer
          format: int64
          description: 近7/15天；输入7代表7天、15代表15天
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DataExternalItemPlayRsp"
  /data/external/item/share:
    get:
      tags:
        - data
      summary: 获取视频分享数据
      description: 获取视频分享数据
      operationId: data_external_item_share
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: item_id
          type: string
          description: item_id，仅能查询access_token对应用户上传的视频
          required: true
        - in: query
          name: date_type
          type: integer
          format: int64
          description: 近7/15天；输入7代表7天、15代表15天
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DataExternalItemShareRsp"
  /fans/data:
    get:
      tags:
        - data
      summary: 获取用户粉丝数据
      description: 获取用户粉丝数据
      operationId: fans_data
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/FansDataRsp"
  /hotsearch/sentences:
    get:
      tags:
        - hotsearch
      summary: 获取实时热点词
      description: 获取实时热点词
      operationId: hotsearch_sentences
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/HotsearchSentencesRsp"
  /hotsearch/trending/sentences:
    get:
      tags:
        - hotsearch
      summary: 获取上升词
      description: 获取上升词
      operationId: hotsearch_trending_sentences
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
          required: true
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/HotsearchTrendingSentencesRsp"
  /hotsearch/videos:
    get:
      tags:
        - hotsearch
      summary: 获取热点词聚合的视频
      description: 获取热点词聚合的视频
      operationId: hotsearch_videos
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: hot_sentence
          type: string
          description: 热点词
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/HotsearchVideosRsp"
  /star/hot_list:
    get:
      tags:
        - star
      summary: 获取抖音星图达人热榜
      description: 获取抖音星图达人热榜
      operationId: star_host_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: hot_list_type
          type: integer
          format: int64
          description: 达人热榜类型 `1` - 星图指数榜 `2` - 涨粉指数榜 `3` - 性价比指数榜 `4` - 种草指数榜 `5` - 精选指数榜 `6` - 传播指数榜
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/StarHostListRsp"
  /star/author_score:
    get:
      tags:
        - star
      summary: 获取抖音星图达人指数
      description: 获取抖音星图达人指数
      operationId: star_author_score
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/StarAuthorScoreRsp"
  /star/author_score_v2:
    get:
      tags:
        - star
      summary: 获取抖音星图达人指数数据V2
      description: 获取抖音星图达人指数数据V2
      operationId: star_author_score_v2
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: unique_id
          type: string
          description: 达人抖音号
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/StarAuthorScoreV2Rsp"
  /discovery/ent/rank/item:
    get:
      tags:
        - rank
      summary: 获取抖音电影榜、抖音电视剧榜、抖音综艺榜
      description: 获取抖音电影榜、抖音电视剧榜、抖音综艺榜
      operationId: discovery_ent_rank_item
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: type
          type: integer
          format: int32
          description: 榜单类型： 1 - 电影 2 - 电视剧 3 - 综艺
          required: true
        - in: query
          name: version
          type: integer
          format: int32
          description: 榜单版本：空值默认为本周榜单
          required: false
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DiscoveryEntRankItemRsp"
  /discovery/ent/rank/version:
    get:
      tags:
        - rank
      summary: 获取抖音影视综榜单版本
      description: 获取抖音影视综榜单版本
      operationId: discovery_ent_rank_version
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
        - in: query
          name: type
          type: integer
          format: int32
          description: 榜单类型： 1 - 电影 2 - 电视剧 3 - 综艺
          required: false
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DiscoveryEntRankVersionRsp"
  /data/external/sdk_share:
    get:
      tags:
        - data
      summary: 获取SDK分享视频数据
      description: 获取SDK分享视频数据
      operationId: data_external_sdk_share
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: begin_date
          type: string
          description: 最近30天，开始日期(yyyy-MM-dd)。
          required: false
        - in: query
          name: end_date
          type: string
          description: 最近30天，结束日期(yyyy-MM-dd)
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DataExternalSdkShareRsp"
  /enterprise/leads/user/list:
    get:
      tags:
        - enterprise
      summary: 获取意向用户列表
      description: 获取意向用户列表
      operationId: enterprise_leads_user_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 分页数量。
          required: true
        - in: query
          name: start_time
          type: integer
          format: int64
          required: true
        - in: query
          name: end_time
          type: integer
          format: int64
          required: true
        - in: query
          name: leads_level
          type: integer
          format: int64
          description: 用户状态 `-1` - 没兴趣 `0` - 了解 `1` - 有兴趣 `2` - 有意愿 `10` - 已转化
          required: false
        - in: query
          name: action_type
          type: integer
          format: int64
          description: 分类 `0` - 全部 `1` - 私信互动 `2` - 组件互动 `3` - 主页互动
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseLeadsUserListRsp"
  /enterprise/leads/user/detail:
    get:
      tags:
        - enterprise
      summary: 获取意向用户详情
      description: 获取意向用户详情
      operationId: enterprise_leads_user_detail
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: user_id
          type: string
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseLeadsUserDetailRsp"
  /enterprise/leads/user/action/list:
    get:
      tags:
        - enterprise
      summary: 获取意向用户互动记录
      description: 获取意向用户互动记录
      operationId: enterprise_leads_user_action_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: count
          type: integer
          format: int64
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          required: false
        - in: query
          name: user_id
          type: string
          required: true
        - in: query
          name: action_type
          type: integer
          format: int64
          required: false
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseLeadsUserActionListRsp"
  /enterprise/leads/tag/list:
    get:
      tags:
        - enterprise
      summary: 获取标签列表
      description: 获取标签列表
      operationId: enterprise_leads_tag_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: count
          type: integer
          format: int64
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          required: false
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseLeadsTagListRsp"
  /enterprise/leads/tag/user/list:
    get:
      tags:
        - enterprise
      summary: 获取打标签的用户列表
      description: 获取打标签的用户列表
      operationId: enterprise_leads_tag_user_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: count
          type: integer
          format: int64
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          required: false
        - in: query
          name: tag_id
          type: integer
          format: int64
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseLeadsTagUserListRsp"
  /enterprise/leads/tag/create:
    post:
      tags:
        - enterprise
      summary: 创建标签
      description: 创建标签
      operationId: enterprise_leads_tag_create
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/EnterpriseLeadsTagCreateReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseLeadsTagCreateRsp"
  /enterprise/leads/tag/update:
    post:
      tags:
        - enterprise
      summary: 编辑标签
      description: 编辑标签
      operationId: enterprise_leads_tag_update
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/EnterpriseLeadsTagUpdateReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseLeadsTagUpdateRsp"
  /enterprise/leads/tag/delete:
    post:
      tags:
        - enterprise
      summary: 删除标签
      description: 删除标签
      operationId: enterprise_leads_tag_delete
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/EnterpriseLeadsTagDeleteReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseLeadsTagDeleteRsp"
  /enterprise/leads/tag/user/update:
    post:
      tags:
        - enterprise
      summary: 给用户设置标签
      description: 给用户设置标签
      operationId: enterprise_leads_tag_user_update
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/EnterpriseLeadsTagUserUpdateReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseLeadsTagUserUpdateRsp"
  /enterprise/im/persona/create:
    post:
      tags:
        - enterprise_im
      summary: 客服账号
      description: 客服账号
      operationId: enterprise_im_person_create
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/EnterpriseImPersonCreateReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseImPersonCreateRsp"
  /enterprise/im/persona/delete:
    post:
      tags:
        - enterprise_im
      summary: 删除客服账号
      description: 删除客服账号
      operationId: enterprise_im_person_delete
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/EnterpriseImPersonDeleteReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseImPersonDeleteRsp"
  /enterprise/im/persona/list:
    get:
      tags:
        - enterprise_im
      summary: 获取客服列表
      description: 获取客服列表
      operationId: enterprise_im_person_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据
          required: true
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseImPersonListRsp"
  /enterprise/im/persona/conversation/create:
    post:
      tags:
        - enterprise_im
      summary: 主动创建客服会话
      description: 主动创建客服会话
      operationId: enterprise_im_person_conversation_create
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/EnterpriseImPersonConversationCreateReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseImPersonConversationCreateRsp"
  /enterprise/im/persona/conversation/delete:
    post:
      tags:
        - enterprise_im
      summary: 删除客服会话
      description: 删除客服会话
      operationId: enterprise_im_person_conversation_delete
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/EnterpriseImPersonConversationDeleteReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseImPersonConversationDeleteRsp"
  /enterprise/groupon/save:
    post:
      tags:
        - enterprise_groupon
      summary: 创建团购活动
      description: 创建团购活动
      operationId: enterprise_groupon_save
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          schema:
            $ref: "#/definitions/EnterpriseGrouponSaveReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseGrouponSaveRsp"
  /enterprise/groupon/list:
    get:
      tags:
        - enterprise_groupon
      summary: 团购活动列表
      description: 团购活动列表
      operationId: enterprise_groupon_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
        - in: query
          name: status
          type: integer
          format: int64
          description: 状态筛选 1 有效 2 审核中 3 审核失败 4 中止
          required: false
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseGrouponListRsp"
  /enterprise/groupon/detail:
    get:
      tags:
        - enterprise_groupon
      summary: 团购活动详情
      description: 团购活动详情
      operationId: enterprise_groupon_detail
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: groupon_ids
          type: array
          items:
            type: string
          description: 团购活动的Id
          required: false
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseGrouponDetailRsp"
  /enterprise/groupon/offline:
    post:
      tags:
        - enterprise_groupon
      summary: 团购活动下线
      description: 团购活动下线
      operationId: enterprise_groupon_offline
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          schema:
            $ref: "#/definitions/EnterpriseGrouponOfflineReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseGrouponOfflineRsp"
  /enterprise/groupon/order/refund/apply/list:
    get:
      tags:
        - groupon_order
      summary: 团购活动用户申请退款订单列表
      description: 团购活动用户申请退款订单列表
      operationId: enterprise_groupon_order_refund_apply_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
        - in: query
          name: start_time
          type: integer
          format: int64
          description: 退款申请开始时间，unix时间戳
          required: true
        - in: query
          name: end_time
          type: integer
          format: int64
          description: 退款申请结束时间，unix时间戳
          required: true
        - in: query
          name: status
          type: integer
          format: int64
          description: 状态筛选 1 待确认 2 已确认
          required: false
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseGrouponOrderRefundApplyListRsp"
  /enterprise/groupon/order/detail:
    get:
      tags:
        - groupon_order
      summary: 团购活动订单详情
      description: 团购活动订单详情
      operationId: enterprise_groupon_order_detail
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: order_id
          type: string
          description: 订单id
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseGrouponOrderDetailRsp"
  /enterprise/groupon/order/list:
    get:
      tags:
        - groupon_order
      summary: 团购活动订单列表详情
      description: 团购活动订单列表详情
      operationId: enterprise_groupon_order_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
          required: false
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
        - in: query
          name: start_time
          type: integer
          format: int64
          description: 订单创建开始时间，unix时间戳
          required: true
        - in: query
          name: end_time
          type: integer
          format: int64
          description: 订单创建结束时间，unix时间戳
          required: true
        - in: query
          name: filter_status
          type: string
          description: 过滤订单状态，用","分隔，不传默认下发所有状态
          required: false
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseGrouponOrderListRsp"
  /enterprise/groupon/order/overview:
    get:
      tags:
        - groupon_order
      summary: 团购活动订单汇总信息
      description: 团购活动订单汇总信息
      operationId: enterprise_groupon_order_overview
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: start_time
          type: integer
          format: int64
          description: 订单创建开始时间，unix时间戳
          required: true
        - in: query
          name: end_time
          type: integer
          format: int64
          description: 订单创建结束时间，unix时间戳
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseGrouponOrderOverviewRsp"
  /enterprise/groupon/order/refund/confirm:
    post:
      tags:
        - groupon_order
      summary: 确认退款
      description: 确认退款
      operationId: enterprise_groupon_order_refund_confirm
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          schema:
            $ref: "#/definitions/EnterpriseGrouponOrderRefundConfirmReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseGrouponOrderRefundConfirmRsp"
  /enterprise/groupon/code/verification:
    post:
      tags:
        - groupon_code
      summary: 券码核销
      description: 券码核销
      operationId: enterprise_groupon_code_verification
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          schema:
            $ref: "#/definitions/EnterpriseGrouponCodeVerificationReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseGrouponCodeVerificationRsp"
  /enterprise/groupon/code/status:
    post:
      tags:
        - groupon_code
      summary: 查看券码状态
      description: 查看券码状态
      operationId: enterprise_groupon_code_status
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          schema:
            $ref: "#/definitions/EnterpriseGrouponCodeStatusReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseGrouponCodeStatusRsp"
  /enterprise/im/card/save:
    post:
      tags:
        - enterprise_im_card
      summary: 创建/更新消息卡片
      description: 创建/更新消息卡片
      operationId: enterprise_im_card_save
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          schema:
            $ref: "#/definitions/EnterpriseImCardSaveReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseImCardSaveRsp"
  /enterprise/im/card/list:
    get:
      tags:
        - enterprise_im_card
      summary: 获取消息卡片列表
      description: 获取消息卡片列表
      operationId: enterprise_im_card_list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: query
          name: cursor
          type: integer
          format: int64
          description: 分页游标, 第一页请求cursor是0, response中会返回下一页请求用到的cursor, 同时response还会返回has_more来表明是否有更多的数据。
          required: true
        - in: query
          name: count
          type: integer
          format: int64
          description: 每页数量
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseImCardListRsp"
  /enterprise/im/card/delete:
    post:
      tags:
        - enterprise_im_card
      summary: 删除消息卡片
      description: 删除消息卡片
      operationId: enterprise_im_card_delete
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: open_id
          type: string
          description: 通过/oauth/access_token/获取，用户唯一标志
          required: true
        - in: body
          name: body
          schema:
            $ref: "#/definitions/EnterpriseImCardDeleteReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/EnterpriseImCardDeleteRsp"
  /poi/supplier/sync:
    post:
      tags:
        - poi
      summary: 商铺同步
      description: 商铺同步
      operationId: poi_supplier_sync
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          schema:
            $ref: "#/definitions/PoiSupplier"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/PoiSupplierSyncRsp"
  /poi/supplier/query:
    get:
      tags:
        - poi
      summary: 查询店铺
      description: 查询店铺
      operationId: poi_supplier_query
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: supplier_ext_id
          type: string
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/PoiSupplierQueryRsp"
  /poi/query:
    get:
      tags:
        - poi
      summary: 获取抖音POI ID
      description: 获取抖音POI ID
      operationId: poi_query
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: amap_id
          type: string
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/PoiQueryRsp"
  /poi/supplier/match:
    post:
      tags:
        - poi
      summary: 店铺匹配
      description: 店铺匹配
      operationId: poi_supplier_match
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          schema:
            $ref: "#/definitions/PoiSupplierMatchReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/PoiSupplierMatchRsp"
  /poi/supplier/match/query:
    get:
      tags:
        - poi
      summary: 店铺匹配结果查询
      description: 店铺匹配结果查询
      operationId: poi_supplier_match_query
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          schema:
            properties:
              supplier_ext_ids:
                type: array
                items:
                  type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/PoiSupplierMatchQueryRsp"
  /poi/spu/sync:
    post:
      tags:
        - spu
      summary: SPU同步
      description: SPU同步
      operationId: poi_spu_sync
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: body
          name: body
          schema:
            $ref: "#/definitions/PoiSpuSyncReq"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/PoiSpuSyncRsp"
  /poi/spu/query:
    get:
      tags:
        - spu
      summary: 查询SPU
      description: 查询SPU
      operationId: poi_spu_query
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: access_token
          type: string
          description: 调用/oauth/access_token/生成的token，此token需要用户授权。
          required: true
        - in: query
          name: spu_ext_id
          type: string
          required: true
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/PoiSpuQueryRsp"
[...]
